*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(243, 234, 218);
    overflow-x: hidden;
   
    width: 100%vw;
}

.card-box{
    height: 600px;
    width: 700px;
    display: grid;
    background-color: red;
}